In [18]:
import numpy as np
import pandas as pd

print("The Capstore Project - Python Presented by \n Theenadhayalan V")
# Creating the Project_DataFrame from the given data:
project_dataframe = pd.DataFrame({'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
                                  'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
                                  'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
                                  'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']})

# Task 2 - Replacing missing values with running average by using "For" Loop:
cost_values = [np.nan if x is None else x for x in project_dataframe['Cost']]
running_sum = 0
running_count = 0
for i in range(len(cost_values)):
    if np.isnan(cost_values[i]):  
        cost_values[i] = running_sum / running_count if running_count > 0 else 0
    running_sum += cost_values[i]
    running_count += 1
project_dataframe['Cost'] = cost_values

# Task 3 - Creating the Employee_DataFrame from the given data & separating the First_Name and Last_Name:
employee_dataframe = pd.DataFrame({'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
                                   'First Name': ['John', 'Alice', 'Tom', 'Nina', 'Amy'],
                                   'Last Name': ['Alter', 'Luxumberg', 'Sabestine', 'Adgra', 'Johny'],
                                   'Gender': ['M', 'F', 'M', 'F', 'F'],
                                   'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
                                   'Age': [25, 27, 29, 31, 30]})

# Creating the Seniority_Level DataFrame from the given data:
seniority_level_dataframe = pd.DataFrame({'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
                                          'Designation Level': [2, 2, 3, 2, 3]})

# Task 4 - Merging all three DataFrames into one and naming it as "Final" DataFrame
Final = project_dataframe.merge(employee_dataframe, on='ID', how='left')
Final = Final.merge(seniority_level_dataframe, on='ID', how='left')

# Task 5 - Adding Bonus Column for the Finished Projects (Bonus = 5%)
Final['Bonus'] = Final.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)

# Task 6 - Demote employees whose projects have status "fail"
failed_employees = Final[Final['Status'] == 'Failed']['ID'].unique()
Final.loc[Final['ID'].isin(failed_employees), 'Designation Level'] += 1

# Remove employees whose designation level is above 4
Final = Final[Final['Designation Level'] <= 4]

# Task 7 - Add "Mr." for male employees and "Mrs." for female employees in the First Name column
Final.loc[Final['Gender'] == 'M', 'First Name'] = "Mr. " + Final['First Name']
Final.loc[Final['Gender'] == 'F', 'First Name'] = "Mrs. " + Final['First Name']

# Drop the Gender column
Final = Final.drop(columns=['Gender'])

# Task 8 - Promoting employees whose age is more than 29 years
Final.loc[Final['Age'] > 29, 'Designation Level'] -= 1

# Task 9 - Calculating the total project costs for each employee
TotalProjCost = Final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
TotalProjCost.rename(columns={'Cost': 'Total Cost'}, inplace=True)

# Task 10 - Print all employee details whose city contains the letter "o"
employees_in_cities_with_o = Final[Final['City'].str.contains('o', case=False, na=False)]
employees_filter= employee_dataframe[employee_dataframe['City'].str.contains('o', case=False, na=False)]

# Saving DataFrames as CSV files
project_dataframe.to_csv('project_dataframe.csv', index=False)
employee_dataframe.to_csv('employee_dataframe.csv', index=False)
seniority_level_dataframe.to_csv('seniority_level_dataframe.csv', index=False)
Final.to_csv('final_dataframe.csv', index=False)
TotalProjCost.to_csv('total_proj_cost.csv', index=False)

# Displaying the outputs to verify results
print("\nFinal DataFrame after all modifications:")
print(Final)

print("\nTotal Project Cost per Employee:")
print(TotalProjCost)

print("\nEmployees whose city contains the letter 'o' in Final DataFrame:")
print(employees_in_cities_with_o)

print("\nEmployees whose city contains the letter 'o' in Employee_DataFrame:")
print(employees_filter)

print("\nAll CSV files have been saved successfully!")

print("Thank You SkilloVilla")

The Capstore Project - Python Presented by
 Theenadhayalan V

Final DataFrame after all modifications:
      ID     Project       Cost    Status  First Name  Last Name     City  \
0   A001   Project 1  1002000.0  Finished    Mr. John      Alter    Paris
1   A002   Project 2  2000000.0   Ongoing  Mrs. Alice  Luxumberg   London
2   A003   Project 3  4500000.0  Finished     Mr. Tom  Sabestine   Berlin
3   A004   Project 4  5500000.0   Ongoing   Mrs. Nina      Adgra  Newyork
4   A005   Project 5  3250500.0  Finished    Mrs. Amy      Johny   Madrid
5   A002   Project 6   680000.0    Failed  Mrs. Alice  Luxumberg   London
6   A005   Project 7   400000.0  Finished    Mrs. Amy      Johny   Madrid
7   A003   Project 8   350000.0    Failed     Mr. Tom  Sabestine   Berlin
8   A001   Project 9  2210312.5   Ongoing    Mr. John      Alter    Paris
9   A003  Project 10   300000.0  Finished     Mr. Tom  Sabestine   Berlin
10  A001  Project 11  2000000.0    Failed    Mr. John      Alter    Paris
11  A004  Project 12  1000000.0   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13  3000000.0  Finished   Mrs. Nina      Adgra  Newyork
13  A005  Project 14   200000.0  Finished    Mrs. Amy      Johny   Madrid

    Age  Designation Level     Bonus
0    25                  3   50100.0
1    27                  3       0.0
2    29                  4  225000.0
3    31                  1       0.0
4    30                  2  162525.0
5    27                  3       0.0
6    30                  2   20000.0
7    29                  4       0.0
8    25                  3       0.0
9    29                  4   15000.0
10   25                  3       0.0
11   31                  1       0.0
12   31                  1  150000.0
13   30                  2   10000.0

Total Project Cost per Employee:
     ID  First Name  Total Cost
0  A001    Mr. John   5212312.5
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy   3850500.0

Employees whose city contains the letter 'o' in Final DataFrame:
      ID     Project       Cost    Status  First Name  Last Name     City  \
1   A002   Project 2  2000000.0   Ongoing  Mrs. Alice  Luxumberg   London
3   A004   Project 4  5500000.0   Ongoing   Mrs. Nina      Adgra  Newyork
5   A002   Project 6   680000.0    Failed  Mrs. Alice  Luxumberg   London
11  A004  Project 12  1000000.0   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13  3000000.0  Finished   Mrs. Nina      Adgra  Newyork

    Age  Designation Level     Bonus
1    27                  3       0.0
3    31                  1       0.0
5    27                  3       0.0
11   31                  1       0.0
12   31                  1  150000.0

Employees whose city contains the letter 'o' in Employee_DataFrame:
     ID First Name  Last Name Gender     City  Age
1  A002      Alice  Luxumberg      F   London   27
3  A004       Nina      Adgra      F  Newyork   31

All CSV files have been saved successfully!
Thank You SkilloVilla

In [2]:
import numpy as np
import pandas as pd

# Creating the Project_DataFrame from the given data:
project_dataframe = pd.DataFrame({'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
                                  'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
                                  'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
                                  'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']})

# Task 2 - Replacing missing values with running average by using "For" Loop:
cost_values = project_dataframe['Cost'].tolist()
running_sum = 0
running_count = 0
for i in range(len(cost_values)):
    if cost_values[i] is None or pd.isna(cost_values[i]):  
        cost_values[i] = running_sum / running_count if running_count > 0 else 0
    running_sum += cost_values[i]
    running_count += 1
project_dataframe['Cost'] = cost_values

# Task 3 - Creating the Employee_DataFrame from the given data & separating the First_Name and Last_Name:
employee_dataframe = pd.DataFrame({'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
                                   'First Name': ['John', 'Alice', 'Tom', 'Nina', 'Amy'],
                                   'Last Name': ['Alter', 'Luxumberg', 'Sabestine', 'Adgra', 'Johny'],
                                   'Gender': ['M', 'F', 'M', 'F', 'F'],
                                   'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
                                   'Age': [25, 27, 29, 31, 30]})

# Creating the Seniority_Level DataFrame from the given data:
seniority_level_dataframe = pd.DataFrame({'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
                                          'Designation Level': [2, 2, 3, 2, 3]})

# Task 4 - Merging all three DataFrames into one and naming it as "Final" DataFrame
Final = project_dataframe.merge(employee_dataframe, on='ID', how='left')
Final = Final.merge(seniority_level_dataframe, on='ID', how='left')

# Task 5 - Adding Bonus Column for the Finished Projects (Bonus = 5%)
Final['Bonus'] = Final.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)

# Task 6: Identifying the employees to increase their designation level by 1 if they have failed projects as "failed_employees"
failed_employees = Final[Final['Status'] == 'Failed']['ID'].unique()  # Getting the unique ID of the failed_employees
Final.loc[Final['ID'].isin(failed_employees), 'Designation Level'] += 1  # Demoting the failed_employees by increasing their designation_level by 1

# Task 6: Remove the failed_employees whose designation_level is more than 4
Final = Final[Final['Designation Level'] <= 4]

# Task 7: Add "Mr." for male employees and "Mrs." for female employees in the First Name column
Final['First Name'] = Final.apply(lambda row: f"Mr. {row['First Name']}" if row['Gender'] == 'M' else f"Mrs. {row['First Name']}", axis=1)

# Task 7: Drop the Gender column
Final = Final.drop(columns=['Gender'])

# Task 8: Promote designation level by 1 for the employees whose age is more than 29 years using IF condition
Final.loc[Final['Age'] > 29, 'Designation Level'] -= 1  # Promotion decreases the designation level

# Task 9: Add the cost of all projects for each Employee and save it in new dataframe “TotalProjCost” with three columns ID, First Name, and Total cost
TotalProjCost = Final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
TotalProjCost.rename(columns={'Cost': 'Total Cost'}, inplace=True)

# Task 10: Print all the employee details whose city name contains the letter “o” in it.
employees_in_cities_with_o = Final[Final['City'].str.contains('o', case=False, na=False)]

# Saving DataFrames as Excel files
with pd.ExcelWriter('output_data.xlsx') as writer:
    project_dataframe.to_excel(writer, sheet_name='Project Data', index=False)
    employee_dataframe.to_excel(writer, sheet_name='Employee Data', index=False)
    seniority_level_dataframe.to_excel(writer, sheet_name='Seniority Level', index=False)
    Final.to_excel(writer, sheet_name='Final Data', index=False)
    TotalProjCost.to_excel(writer, sheet_name='Total Project Cost', index=False)
    employees_in_cities_with_o.to_excel(writer, sheet_name='Employees in Cities with O', index=False)

# Display Final DataFrame to verify changes
print("Final DataFrame after all modifications:")
print(Final)

print("\nTotal Project Cost per Employee:")
print(TotalProjCost)

print("\nEmployees whose city contains the letter 'o':")
print(employees_in_cities_with_o)

print("\nAll data has been saved successfully in 'output_data.xlsx'!")

Final DataFrame after all modifications:
      ID     Project       Cost    Status  First Name  Last Name     City  \
0   A001   Project 1  1002000.0  Finished    Mr. John      Alter    Paris
1   A002   Project 2  2000000.0   Ongoing  Mrs. Alice  Luxumberg   London
2   A003   Project 3  4500000.0  Finished     Mr. Tom  Sabestine   Berlin
3   A004   Project 4  5500000.0   Ongoing   Mrs. Nina      Adgra  Newyork
4   A005   Project 5  3250500.0  Finished    Mrs. Amy      Johny   Madrid
5   A002   Project 6   680000.0    Failed  Mrs. Alice  Luxumberg   London
6   A005   Project 7   400000.0  Finished    Mrs. Amy      Johny   Madrid
7   A003   Project 8   350000.0    Failed     Mr. Tom  Sabestine   Berlin
8   A001   Project 9  2210312.5   Ongoing    Mr. John      Alter    Paris
9   A003  Project 10   300000.0  Finished     Mr. Tom  Sabestine   Berlin
10  A001  Project 11  2000000.0    Failed    Mr. John      Alter    Paris
11  A004  Project 12  1000000.0   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13  3000000.0  Finished   Mrs. Nina      Adgra  Newyork
13  A005  Project 14   200000.0  Finished    Mrs. Amy      Johny   Madrid

    Age  Designation Level     Bonus
0    25                  3   50100.0
1    27                  3       0.0
2    29                  4  225000.0
3    31                  1       0.0
4    30                  2  162525.0
5    27                  3       0.0
6    30                  2   20000.0
7    29                  4       0.0
8    25                  3       0.0
9    29                  4   15000.0
10   25                  3       0.0
11   31                  1       0.0
12   31                  1  150000.0
13   30                  2   10000.0

Total Project Cost per Employee:
     ID  First Name  Total Cost
0  A001    Mr. John   5212312.5
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy   3850500.0

Employees whose city contains the letter 'o':
      ID     Project       Cost    Status  First Name  Last Name     City  \
1   A002   Project 2  2000000.0   Ongoing  Mrs. Alice  Luxumberg   London
3   A004   Project 4  5500000.0   Ongoing   Mrs. Nina      Adgra  Newyork
5   A002   Project 6   680000.0    Failed  Mrs. Alice  Luxumberg   London
11  A004  Project 12  1000000.0   Ongoing   Mrs. Nina      Adgra  Newyork
12  A004  Project 13  3000000.0  Finished   Mrs. Nina      Adgra  Newyork

    Age  Designation Level     Bonus
1    27                  3       0.0
3    31                  1       0.0
5    27                  3       0.0
11   31                  1       0.0
12   31                  1  150000.0

All data has been saved successfully in 'output_data.xlsx'!